<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <div class="text-center">
        call was made?
        <br>
        {{results}}
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import axios from 'axios'

export default {
  data: () => ({
    results: undefined
  }),
  validate({ params, query, store, isDev, env }) {
    console.log(isDev, env)
    return true // if the params are valid
  },
  components: {

  },
  mounted() {
    let that = this
    axios.get('http://localhost:9061/api/demo-task').then((res)=>{
      that.results = res
    })
  }
}
</script>
